@media only screen and (min-width: 320px) and (max-width: 666px) {
    .register .sign-up-step ul li span.text {
        display: none;
    }
    .register .sign-up-step ul li span.icon {
        margin-right: 0;
    }
    .register .sign-up-step ul {
        display: flex;
    }
    .register .sign-up-step ul li {
        padding: 0;
        flex: 1;
        margin-left: 0;
        border-radius: 0;
        justify-content: center;
    }
    .register .sign-up-step ul li:first-child {
        border-radius: 0;
        padding-left: 0;
    }
    .register .sign-up-step ul li:after {
        border-radius: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .register {
        padding: 60px 0;
    }
}